<v-card>
    <v-card-subtitle>Search results for `{{ keyword }}`</v-card-subtitle>
    <v-card-text>
        <section v-if="results.length > 0">
            <div class="d-flex flex-column" v-if="tasks.length > 0">
                <b>Tasks</b>
                <list-of-tasks :tasks="tasks" :project-chip="true"></list-of-tasks>
            </div>
            <div class="d-flex flex-column" v-if="projects.length > 0">
                <b>Projects</b>
                <list-of-projects :projects="projects"></list-of-projects>
            </div>
        </section>
        <div class="text-center" v-else>
            <v-icon size="60">mdi-magnify</v-icon><br/>
            <b>Nothing was found that matches the keyword `{{ keyword }}`.<br/>Maybe try again.</b>
        </div>
    </v-card-text>
</v-card>